*{
  transition: 0.3s all ease;
}
body{
  padding: 0px;
  margin: 0px;

}

.dark_mode {
  margin-top: -20px;
  margin-left: 10px;
}

.dark_mode_label {
  width: 65px;
  height: 32px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
      inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}
.dark_mode_label:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.dark_mode_input {
  width: 0;
  height: 0;
  visibility: hidden;
}
.dark_mode_input:checked + .dark_mode_label {
  background: #242424;
}
.dark_mode_input:checked + .dark_mode_label:after {
  left: 60px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
.dark_mode_label:active:after {
  width: 35 px;
}

.dark_mode_label svg {
  position: absolute;
  width: 20px;
  top: 5px;
  z-index: 100;
}
.dark_mode_label svg.sun {
  left: 5px;
  fill: #fff;
  transition: 0.3s;
}
.dark_mode_label svg.moon {
  left: 40px;
  fill: #7e7e7e;
  transition: 0.3s;
}
.dark_mode_input:checked + .dark_mode_label svg.sun {
  fill: #7e7e7e;
}
.dark_mode_input:checked + .dark_mode_label svg.moon {
  fill: #fff;
}

.App{
  height: 100%;


}

/* bckgroun clr #7c7c7c */
.Navbar{
  padding:  1.5em 10em;
  height: 3em;
  background-color: var(--header_bg) ;
  box-shadow:0 4px var(--header_shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.7;
}
.logo img{
  width: 80px;
  height: 80px;
}

.navList{
  display: flex;
  list-style-type: none;
}
.navList li {
  margin-inline-end: 20px;
  max-height: 40px;
}

.Content{
  background-color: var(--body_bg);
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-card{
  width: 70em;
  height: 25em;
  margin-top: 2%;
  margin-bottom: 5%;
  border-radius: 2em;
  background-color: var(--main-card-bg);
  color: var(--main-card-color);
  padding: 4em 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.main-card-highlight{
  display: flex;
  width: 35em;
  padding: 1.2em;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}
.main-card-icon img{
    width: 200px;
}

.main-card-heat{
  font-size: 3.5em;
}

.main-card-third{
  font-size: 0.9em;

}
.main-card-third span {
  font-size: 1.2em;
}


.main-card-day-list{
  display: flex;
}

.day{
  margin-right: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
.day-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.day-name{
  font-size: 1.4em;
  font-weight: 600;
  text-align: center;
}


select {
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 20rem;
  padding: 1rem 4rem 1rem 1rem;
  background-color: var(--select-bg);
  color: var(--select-color);
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;

}

option {
  color: var(--option-color);
  background-color: var(--option-bg);
}



